// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #29B6F6;
$secondary: #81D4FA;
$accent: #0277BD;

$dark: #01579B;
$dark-page: #E1F5FE; // Making the page background very light blue instead of dark for a fresh look

$positive: #4CAF50;
$negative: #FF5252;
$info: #81D4FA;
$warning: #FFC107;
